#sidebar_wrapper {
  margin-top: 35px;
  @include mq(small_laptop) {
    flex-shrink: 0;
    flex-basis: 350px;
    order: 1;
  }
}

#sidebar_form {
  display: none;
  @include mq(small_laptop) {
    display: block;
  }
}

.widget {
  background: $color_light_two;
  padding: 30px 30px;
  margin-bottom: 33px;
  h3 {
    display: block;
    @include type(
      (
        size: 24px,
        height: 25px,
        family: $primaryfont,
        color: $color_bright_one,
        weight: 700,
        align: center,
      )
    );
  }
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 16px,
          height: 18px,
          spacing: 0,
          family: $primaryfont,
          weight: 700,
        )
      );
      a {
        display: block;
        padding: 13px 40px 13px 20px;
        color: $color_dark_one;
        text-decoration: none;
        border-bottom: 1px solid $color_light_seven;
        transition: all 200ms ease-in-out;
        // &:hover {
        //   color: $color_bright_one;
        // }
      }
    }
  }
  ul.menu {
    margin-top: 20px;
    > li {
      &.active {
        > a {
          color: $color_bright_one;
        }
      }
      &:last-of-type {
        > a {
          border-bottom: none;
        }
      }
    }
    > li.menu-item-has-children {
      &.active {
        > a {
          &:after {
            @include tri(down, 5px, 5px, $color_bright_one);
          }
        }
      }
      > a {
        position: relative;
        &:after {
          transition: all 200ms ease-in-out;
          @include abs(20px, 15px, null, null);
          @include tri(down, 5px, 5px, $color_dark_one);
          @include contentdisplay();
        }
      }
    }
  }
  ul.sub-menu {
    display: none;
  }
}

.sidebar_pa {
  // information center
  .widget {
    &:last-of-type {
      margin-bottom: 0;
    }
    &:nth-of-type(2) {
      ul {
        margin-top: 0;
        li {
          a {
            position: relative;
            padding: 33px 40px 33px 20px;
            &:after {
              border-radius: 50%;
              background: $color_bright_two;
              @include abs(40px, null, null, 0);
              @include box(6px);
              @include contentdisplay();
            }
          }
        }
      }
    }
  }
}
