// navigation - refer to the resize functions in js->custom-min.js
nav {
  background: $color_dark_one;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  @include box(100%);
  @include fixed(141px, null, null, 0);
  ul {
    list-style: none;
    li {
      @include type(
        (
          size: 17px,
          height: 20px,
          spacing: 0.42px,
          family: $primaryfont,
          color: $color_light_one,
        )
      );
      a {
        color: $color_light_one;
        display: block;
        padding: 19px 20px;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        border-bottom: 1px solid $color_dark_two;
      }
    }
  }
}

nav {
  ul.menu {
    padding-bottom: 200px;
    li.menu-item-has-children {
      > a {
        position: relative;
        &:after {
          vertical-align: top;
          margin: 10px 0 0 0px;
          position: relative;
          right: -10px;
          @include contentdisplay(inline-block);
          @include tri(down, 4px, 4px, $color_light_one);
        }
      }
    }
    > li.current-menu-ancestor {
      > a {
        color: $color_bright_one;
        &:after {
          @include tri(down, 4px, 4px, $color_bright_one);
        }
      }
    }
  }
}

nav {
  ul.sub-menu {
    display: none;
    background: $color_dark_three;
    li.current-menu-item {
      > a {
        color: $color_bright_one;
      }
    }
  }
}

nav.nav_tablet {
  ul.menu {
    > li {
      &.active {
        color: $color_bright_one;
        > a {
          &.active {
            color: $color_bright_one;
            &:after {
              @include tri(down, 4px, 4px, $color_bright_one);
            }
          }
        }
      }
    }
  }
  ul.sub-menu {
    li {
      a {
        &:hover {
          color: $color_bright_one;
        }
      }
    }
  }
}
