#section_two {
}

#sec_two_inner {
  @include mq(small_tablet) {
    @include flex();
  }
}

#sec_two_top {
  padding: 39px 32px 75px;
  background: $color_dark_three;
  @include mq(small_tablet) {
    width: 50%;
    @include flex(null, center);
  }
}

#sec_two_left_slider {
  max-width: 375px;
  @include margin_lr;
}

.sec_two_slide {
  color: $color_light_one;
  @include mq(small_tablet) {
    height: 100%;
  }
}

.sec_two_slide_profile_wrapper {
  padding-bottom: 23px;
  border-bottom: 1px solid $color_light_three;
  @include flex();
}

.sec_two_profile {
  flex-shrink: 0;
  img {
    border-radius: 50%;
    @include box(77px);
  }
}

.sec_two_profile_info {
  padding-left: 25px;
  padding-top: 5px;
  img {
  }
  span.sec_two_profile_two {
    display: block;
    padding-top: 12px;
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
}

.sec_two_slide_descrip {
  padding-top: 17px;
  @include mq(small_tablet) {
    padding-top: 28px;
  }
  span {
    display: block;
    @include type(
      (
        size: 20px,
        height: 25px,
        spacing: 0,
        family: $primaryfont,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(22px, 29px, null);
    }
  }
}

span.sec_two_slide_type {
  display: block;
  margin-top: 23px;
  @include type(
    (
      size: 15px,
      height: 17px,
      spacing: 2.7px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    margin-top: 32px;
  }
}

#sec_two_bottom {
  text-align: center;
  background: $color_light_two;
  padding: 36px 25px 42px;
  @include mq(small_tablet) {
    width: 50%;
    padding: 36px 32px 28px;
  }
}

span#sec_two_featured_title {
  @include type(
    (
      size: 15px,
      height: 17px,
      spacing: 3px,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 700,
      transform: uppercase,
    )
  );
  @include mq(small_tablet) {
    display: block;
    text-align: left;
  }
}

#sec_two_featured_slider_wrapper {
  max-width: 375px;
  @include margin_lr;
  @include flex(null, null, null, wrap);
}

#sec_two_featured_slider {
  margin-top: 30px;
  width: 100%;
  order: 1;
  @include mq(small_tablet) {
    margin-top: 26px;
  }
}

.sec_two_featured_slide {
  a {
    text-decoration: none;
  }
}

.sec_two_featured_image {
  position: relative;
  height: 118px;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    @include abs(0, null, null, 0);
    @include image();
    @include box(100%);
  }
}

.sec_two_featured_slide_content {
  background: $color_light_one;
  padding: 16px 22px 22px;
}

span.sec_two_featured_slide_title {
  display: block;
  margin-bottom: 20px;
  @include type(
    (
      size: 25px,
      height: 27px,
      spacing: 0,
      family: $primaryfont,
      color: $color_dark_three,
      weight: 700,
    )
  );
}

.sec_two_featured_slide_descrip {
  display: block;
  @include type(
    (
      size: 15px,
      height: 20px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_four,
    )
  );

  p {
    margin-bottom: 10px;
  }
}

.sec_two_featured_arrow {
  background: $color_dark_three;
  flex-basis: 50%;
  margin-top: 13px;
  @include box(100%, 34px);
  @include flex(center, center);
  display: flex !important;
  &:after {
    @include contentdisplay();
    @include tri(left, 6px, 6px, $color_light_one);
  }
  &:hover {
    background: $color_dark_two;
  }
}

.sec_two_featured_arrow_left {
  order: 2;
}

.sec_two_featured_arrow_right {
  order: 3;
  &:after {
    transform: rotate(-180deg);
  }
}
