#section_two {
}

#sec_two_inner {
}

#sec_two_top {
  padding: 39px 32px 75px;
  background: $color_dark_three;
}

#sec_two_left_slider {
}

.sec_two_slide {
  color: $color_light_one;
}

.sec_two_slide_profile_wrapper {
  padding-bottom: 23px;
  border-bottom: 1px solid $color_bright_three;
  @include flex();
}

.sec_two_profile {
  flex-shrink: 0;
  img {
    border-radius: 50%;
    @include box(77px);
  }
}

.sec_two_profile_info {
  padding-left: 25px;
  padding-top: 5px;
  img {
  }
  span.sec_two_profile_two {
    display: block;
    padding-top: 12px;
    @include type(
      (
        size: 16px,
        height: 18px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
}

.sec_two_slide_descrip {
  padding-top: 17px;
  span {
    display: block;
    max-width: 265px;
    @include type(
      (
        size: 20px,
        height: 25px,
        spacing: 0,
        family: $primaryfont,
      )
    );
  }
}

span.sec_two_slide_type {
  display: block;
  margin-top: 23px;
  @include type(
    (
      size: 15px,
      height: 17px,
      spacing: 2.7px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
}
