#section_six {
  background: $color_light_two;
}

#sec_six_inner {
  padding: 52px 11px;
}

#sec_six_post_wrapper {
  margin-top: 60px;
  .slick-dots {
    margin-top: 48px;
    position: static;
    li.slick-active {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li {
      margin: 0 8px;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_dark_one;
          font-size: 26px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

span#sec_six_title {
  display: block;
  text-align: center;
  padding: 6px 10px;
  background: $color_dark_one;
  @include type(
    (
      size: 15px,
      spacing: 3px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: uppercase,
    )
  );
}

.sec_six_post {
  text-align: center;
  a {
    text-decoration: none;
  }
}

.sec_six_meta {
  span {
    display: inline;
    @include type(
      (
        size: 16px,
        height: 18px,
        family: $primaryfont,
        color: $color_bright_two,
        transform: uppercase,
        weight: 700,
      )
    );
  }
  ul {
    list-style: none;
    display: inline;
    li {
      display: inline;
      @include type(
        (
          size: 16px,
          height: 18px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 700,
          transform: uppercase,
        )
      );
      &:before {
        background: $color_dark_one;
        border-radius: 50%;
        vertical-align: top;
        margin: 7px 13px 0 9px;
        @include box(5px);
        @include contentdisplay(inline-block);
      }
      a {
        color: $color_bright_two;
      }
    }
  }
}

.sex_six_page_title_wrapper {
  margin-top: 28px;
  max-width: 320px;
  @include margin_lr;
  @include flex();
  img {
    @include box(84px);
    @include image();
  }
  span.sec_six_page_title {
    position: relative;
    top: -5px;
    padding-left: 17px;
    @include type(
      (
        size: 22px,
        height: 30px,
        align: left,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
}

span.sec_six_divider {
  background: $color_dark_three;
  margin: 25px 0 15px;
  @include box(100%, 1px);
  @include contentdisplay();
}

.sec_six_descrip {
  padding: 0 15px;
  @include type(
    (
      size: 16px,
      height: 25px,
      family: $primaryfont,
    )
  );
}

.sec_six_readmore {
  margin-top: 20px;
}
