body.header_fixed {
  #internal_main {
    margin-top: 68px;
    @include mq(small_tablet) {
      margin-top: 121px;
    }
  }
}

#internal_main {
  //margin-top: 141px;
  @include mq(small_tablet) {
    margin-top: 121px;
  }
  @include mq(large_laptop) {
    margin-top: 124px;
  }
}

.internal_title {
  display: block;
  @include type(
    (
      size: 38px,
      height: 40px,
      family: $primaryfont,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    font-size: 40px;
  }
  &:after {
    margin-top: 22px;
    background: $color_bright_two;
    @include box(100%, 3px);
    @include contentdisplay();
    @include mq(small_tablet) {
      margin-top: 28px;
    }
  }
}

.page_title {
  padding: 0px;
}

#page_wrapper {
  padding: 40px 20px 40px;
  @include mq(small_tablet) {
    padding: 40px 55px 40px;
  }
  @include mq(small_laptop) {
    margin-top: 40px;
    padding: 30px 55px 70px;
    @include flex();
  }
  @include mq(large_laptop) {
    padding: 30px 81px 70px;
  }
  @include mq(small_monitor) {
    margin-top: 66px;
    max-width: 1462px;
    padding: 40px 0px 115px;
    @include margin_lr;
  }
}

#page_content {
  @include mq(small_laptop) {
    order: 2;
    padding-left: 60px;
    width: calc(100% - 350px);
  }
  @include mq(large_laptop) {
    width: calc(100% - 430px);
  }
  @include mq(small_monitor) {
    padding-left: 150px;
    width: calc(100% - 475px);
  }
}

#page_content_inner {
  padding-top: 25px;
  @include mq(small_laptop) {
    padding-top: 40px;
  }
}

ul#page_meta {
  list-style: none;
  padding: 0px 0 10px;
  @include mq(small_monitor) {
    padding: 0px 0 30px;
  }
  li {
    display: inline-block;
    @include type(
      (
        size: 13px,
        height: 15px,
        spacing: 1.3px,
        family: $primaryfont,
        color: $color_bright_one,
        weight: 700,
        transform: uppercase,
      )
    );
    &:after {
      background: $color_dark_one;
      vertical-align: top;
      border-radius: 50%;
      margin: 4px 4px 0 7px;
      @include box(6px);
      @include contentdisplay(inline-block);
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}

.page_video_block {
  &.video_block {
    @include mq(small_laptop) {
      float: left;
    }
  }
}

.alignleft,
img.alignleft {
  display: block;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
    max-width: 100%;
    height: auto;
  }
}
.alignright,
img.alignright {
  display: block;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
    max-width: 100%;
    height: auto;
  }
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
    max-width: 100%;
    height: auto;
  }
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 12px;
  max-width: 100%;
  height: auto;
  @include mq(xlarge_mobile) {
    margin: 20px auto 30px;
    float: none;
    max-width: 100%;
    height: auto;
  }
}

.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $color_light_five;
}
.gform_wrapper ul li ::-moz-placeholder {
  color: $color_light_five;
}
.gform_wrapper ul li :-moz-placeholder {
  color: $color_light_five;
}
.gform_wrapper ul li :-ms-input-placeholder {
  color: $color_light_five;
}
.gform_wrapper ul li ::-moz-placeholder {
  opacity: 1;
}

#related_content_wrapper {
  background: $color_light_ten;
  padding: 45px 20px;
  #related_content_inner {
  }
}

span#related_content_title {
  display: block;
  @include type(
    (
      size: 25px,
      family: $primaryfont,
      weight: 700,
    )
  );
  &:after {
    background: $color_bright_two;
    margin: 25px 0 0px 0px;
    @include box(100%, 3px);
    @include contentdisplay();
  }
}

#related_posts_wrapper {
  margin: 40px 0 0 0;
}

.related_post_col {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
    .related_post_list {
      .related_post {
        &:first-of-type {
          padding: 0;
          margin: 0;
          border: 0;
        }
      }
    }
  }
}

span.related_posts_title {
  display: inline-block;
  background: $color_dark_one;
  padding: 5px;
  @include type(
    (
      size: 13px,
      height: 15px,
      spacing: 1.3px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      align: center,
      transform: uppercase,
    )
  );
}

.related_post_list {
  margin: 28px 0 0 0;
}

.related_post {
  padding-bottom: 30px;
  // margin-bottom: 30px;
  cursor: pointer;
  border-bottom: 1px solid $color_light_thirteen;
  &:last-of-type {
    display: none;
    border: none;
    //padding-bottom: 0px;
    //margin-bottom: 0px;
  }
  &:hover {
    span.related_post_read_more {
      background: $color_dark_one;
    }
    span.related_post_title {
      color: $color_bright_one;
    }
  }
  a {
    text-decoration: none;
  }
}

.related_posts_meta {
  span {
    display: inline;
    @include type(
      (
        size: 14px,
        height: 16px,
        family: $primaryfont,
        color: $color_bright_two,
        transform: uppercase,
        weight: 700,
      )
    );
  }
  ul {
    list-style: none;
    display: inline;
    li {
      display: inline;
      @include type(
        (
          size: 14px,
          height: 16px,
          family: $primaryfont,
          color: $color_bright_two,
          weight: 700,
          transform: uppercase,
        )
      );
      &:before {
        background: $color_dark_one;
        border-radius: 50%;
        vertical-align: top;
        margin: 7px 8px 0 4px;
        @include box(5px);
        @include contentdisplay(inline-block);
      }
      a {
        color: $color_bright_two;
      }
    }
  }
}

span.related_post_title {
  display: block;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 22px,
      height: 30px,
      weight: 700,
      spacing: 0,
      family: $primaryfont,
    )
  );
}

span.related_post_author {
  display: block;
  margin-top: 10px;
  @include type(
    (
      size: 14px,
      height: 16px,
      color: $color_light_twelve,
      family: $primaryfont,
    )
  );
}

span.related_post_read_more {
  display: inline-block;
  margin-top: 34px;
  border-radius: 50px;
  background: $color_bright_one;
  padding: 9px 20px;
  transition: all 200ms ease-in-out;
  @include type(
    (
      size: 13px,
      spacing: 0.65px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: lowercase,
    )
  );
}
