.client_reviews_module {
  text-align: center;
  margin: 50px 0 30px;
  width: 100%;
  @include mq(large_laptop) {
    margin: 84px 0 110px;
  }
}

span.client_reviews_module_title {
  display: inline-block;
  background: $color_bright_one;
  padding: 7px 35px;
  @include type(
    (
      size: 13px,
      height: 13px,
      spacing: 1.3px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: uppercase,
    )
  );
}

.client_reviews_module_slider_wrapper {
  margin-top: 35px;
  max-width: 460px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 900px;
    margin-top: 35px;
  }
  @include mq(small_laptop) {
    max-width: 1108px;
    @include flex(center, center);
  }
  @include mq(large_laptop) {
    max-width: 100%;
    margin-top: 53px;
  }
}

.client_reviews_module_slider {
  width: 100%;
  @include mq(small_laptop) {
    width: calc(100% - 120px);
    padding: 0 25px;
  }
  .slick-track {
    @include mq(small_tablet) {
      // @include flex();
    }
    @include mq(small_laptop) {
      //display: block;
    }
    @include mq(large_laptop) {
      // @include flex();
    }
  }
  .slick-slide {
    // background: $color_dark_one;
    @include mq(small_tablet) {
      margin: 0 13px;
      //@include flex(center);
      height: auto;
    }
    @include mq(small_laptop) {
      //display: block;
    }
    @include mq(large_laptop) {
      //@include flex(center);
    }
  }
  .slick-list {
    @include mq(small_tablet) {
      margin: 0 -13px;
    }
  }
  .slick-dots {
    position: static;
    margin: 10px 0 0 0;
    @include mq(small_tablet) {
      margin: 20px 0 0 0;
    }
    li.slick-active {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li {
      margin: 0 10px;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_dark_one;
          font-size: 25px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.client_reviews_module_slide {
  text-align: center;
  padding: 55px 0px 0;
  background: $color_dark_one;
  a {
    display: block;
    transition: none;
    text-decoration: none;
  }
  @include mq(small_tablet) {
    padding: 83px 0px 160px;
    position: relative;
  }
  @include mq(small_laptop) {
    text-align: left;
  }
  @include mq(large_laptop) {
    padding: 63px 0px 160px;
  }
  @include mq(small_monitor) {
    padding: 63px 0px 140px;
  }
  .client_reviews_module_slide_top {
    padding: 0 20px;
    @include mq(small_tablet) {
      padding: 0 40px;
    }
    @include mq(small_laptop) {
      max-width: 595px;
      @include margin_lr;
    }
    @include mq(large_laptop) {
      padding: 0 35px;
    }
    @include mq(small_monitor) {
      max-width: 310px;
    }
    img {
      @include margin_lr;
      @include mq(small_laptop) {
        margin: 0;
      }
    }
    span {
      display: block;
      &.client_reviews_module_slide_descrip {
        margin-top: 30px;
        max-width: 400px;
        @include margin_lr;
        @include type(
          (
            size: 17px,
            height: 25px,
            family: $primaryfont,
            color: $color_light_one,
          )
        );
        @include mq(small_tablet) {
          max-width: 310px;
        }
        @include mq(small_laptop) {
          max-width: 100%;
        }
        @include mq(large_laptop) {
          @include quick_type(19px, 27px, null);
        }
      }
      &.client_reviews_module_slide_name {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        @include type(
          (
            size: 16px,
            family: $primaryfont,
            color: $color_light_one,
            weight: 700,
          )
        );
        @include mq(small_laptop) {
          text-align: left;
        }
        &:before {
          margin: 25px auto;
          background: $color_bright_one;
          @include box(61px, 3px);
          @include contentdisplay();
          @include mq(small_laptop) {
            margin: 25px 0;
          }
        }
      }
    }
  }
  .client_reviews_module_slide_bottom {
    background: $color_light_two;
    padding: 30px 25px;
    margin-top: 40px;
    width: 100%;
    @include flex(center, center);
    @include mq(small_tablet) {
      @include abs(null, null, 0, 0);
    }
  }
}

span.client_reviews_module_slide_amount {
  @include type(
    (
      size: 22px,
      height: 24px,
      family: $primaryfont,
      weight: 700,
      color: $color_dark_one,
    )
  );
  &:hover {
    color: $color_dark_one;
  }
}

span.client_reviews_module_slide_subtitle {
  margin-top: 15px;
  @include type(
    (
      size: 14px,
      height: 16px,
      color: $color_dark_one,
      family: $primaryfont,
      weight: 700,
    )
  );
}

span.client_reviews_module_slide_turned {
  display: block;
  @include type(
    (
      size: 15px,
      height: 16px,
      color: $color_light_none,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
}

.client_reviews_module_slide_col {
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  width: calc(66.666% - 70px);
  span {
    display: block;
  }
  &:nth-of-type(2) {
    width: 70px;
  }
  &:nth-of-type(3) {
    span {
      color: $color_bright_two;
    }
  }
}

.client_reviews_module_arrow {
  background: $color_light_rgba_three;
  transition: all 200ms ease-in-out;
  margin-top: 13px;
  flex-shrink: 0;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  position: relative;
  flex-basis: 60px;
  height: 60px;
  z-index: 1;
  @include mq(small_laptop) {
    @include flex(center, center);
  }
  &:before {
    background: $color_dark_one;
    border-radius: 50%;
    @include contentdisplay();
    @include box(44px);
  }
  &:after {
    @include contentdisplay();
    transition: all 200ms ease-in-out;
    @include abs(23px, null, null, 23px);
    @include tri(left, 7px, 8px, $color_light_one);
    @include mq(small_laptop) {
    }
  }
  &:hover {
    &:after {
      @include tri(left, 7px, 8px, $color_bright_two);
    }
  }
}

.client_reviews_module_arrow_left {
}

.client_reviews_module_arrow_right {
  &:after {
    transform: rotate(-180deg);
    @include mq(small_laptop) {
      left: 27px;
    }
  }
}
