body {
  color: $color_dark_one;
}

.content {
  @include type(
    (
      size: 16px,
      height: 25px,
      spacing: 0,
      family: $primaryfont,
    )
  );
  h1.page_header {
    @include type(
      (
        size: 38px,
        height: 40px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
    &:after {
      background: $color_bright_two;
      margin-top: 23px;
      @include box(100%, 3px);
      @include contentdisplay();
    }
  }
  h2 {
    margin-bottom: 26px;
    @include type(
      (
        size: 24px,
        height: 25px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
  }
  p {
    margin-bottom: 25px;
  }
}
