body {
  color: $color_dark_one;
}

.content {
  @include type(
    (
      size: 16px,
      height: 25px,
      spacing: 0,
      family: $primaryfont,
    )
  );
  @include mq(small_tablet) {
    font-size: 17px;
  }
  h1.page_header {
    @include type(
      (
        size: 38px,
        height: 40px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      @include quick_type(40px, 42px, null);
    }
    &:after {
      background: $color_bright_two;
      margin-top: 23px;
      @include box(100%, 3px);
      @include contentdisplay();
      @include mq(small_tablet) {
        margin-top: 29px;
      }
    }
  }
  h2 {
    margin-bottom: 26px;
    @include type(
      (
        size: 24px,
        height: 25px,
        spacing: 0,
        family: $primaryfont,
        weight: 700,
      )
    );
    @include mq(small_tablet) {
      padding-top: 20px;
    }
  }
  p {
    margin-bottom: 25px;
  }
}
