.linked_cta_module {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 450px;
  @include margin_lr;
  @include mq(small_laptop) {
    max-width: 620px;
  }
  @include mq(large_laptop) {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 720px;
  }
  @include mq(small_monitor) {
    max-width: 93%;
    margin-top: 90px;
    margin-bottom: 113px;
  }
  a {
    display: block;
    color: $color_dark_one;
    text-decoration: none;
    @include mq(small_laptop) {
      @include flex(null, center);
    }
  }
}

.linked_cta_module_left {
  @include mq(small_laptop) {
    flex-grow: 1;
  }
}

span.linked_cta_title {
  display: block;
  max-width: 235px;
  @include margin_lr;
  @include type(
    (
      size: 25px,
      height: 33px,
      family: $primaryfont,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    max-width: 350px;
    @include quick_type(30px, 40px, null);
  }
  @include mq(large_laptop) {
    @include quick_type(35px, 45px, null);
  }
  @include mq(small_monitor) {
    @include quick_type(40px, 50px, null);
  }
  &:after {
    background: $color_bright_two;
    margin: 25px auto;
    @include box(187px, 3px);
    @include contentdisplay();
    @include mq(small_laptop) {
      margin-bottom: 0;
    }
  }
}

.linked_cta_module_right {
  margin-top: 40px;
  @include mq(small_laptop) {
    margin-top: 0px;
    margin-left: 20px;
    flex-shrink: 0;
    flex-basis: 330px;
  }
  @include mq(large_laptop) {
    flex-basis: 373px;
  }
  img {
    @include image();
  }
}
