#sec_three_inner {
  padding: 42px 20px 25px;
  @include mq(small_tablet) {
    padding: 82px 97px 75px;
  }
}

#sec_three_left {
}

#sec_three_content {
  margin-top: 33px;
  @include mq(small_tablet) {
    margin-top: 22px;
  }
}
