.featured_case_results_block {
  text-align: center;
  margin: 50px 0 30px;
  width: 100%;
  @include mq(large_laptop) {
    margin: 84px 0 110px;
  }
  a {
    display: block;
    transition: none;
    text-decoration: none;
    &:hover {
      color: $color_light_one;
      text-decoration: none;
    }
  }
}

span.featured_case_results_block_title {
  display: inline-block;
  background: $color_bright_one;
  padding: 7px 35px;
  @include type(
    (
      size: 13px,
      height: 13px,
      spacing: 1.3px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: uppercase,
    )
  );
}

.featured_case_results_block_slider_wrapper {
  margin-top: 35px;
  max-width: 460px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width: 900px;
    margin-top: 35px;
  }
  @include mq(small_laptop) {
    max-width: 1108px;
    @include flex(center, center);
  }
  @include mq(large_laptop) {
    max-width: 100%;
  }
}

.featured_case_results_block_slider {
  width: 100%;
  @include mq(small_laptop) {
    width: calc(100% - 120px);
    padding: 0 25px;
  }
  .slick-track {
    @include mq(small_tablet) {
      @include flex();
    }
    @include mq(small_laptop) {
      display: block;
    }
    @include mq(large_laptop) {
      @include flex();
    }
  }
  .slick-slide {
    background: $color_dark_one;
    @include mq(small_tablet) {
      margin: 0 13px;
      @include flex(center);
      height: auto;
    }
    @include mq(small_laptop) {
      display: block;
    }
    @include mq(large_laptop) {
      @include flex(center);
    }
  }
  .slick-list {
    @include mq(small_tablet) {
      margin: 0 -13px;
    }
  }
  .slick-dots {
    position: static;
    margin: 10px 0 0 0;
    @include mq(small_tablet) {
      margin: 20px 0 0 0;
    }
    li.slick-active {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li:hover {
      button {
        &:before {
          color: $color_bright_two;
        }
      }
    }
    li {
      margin: 0 10px;
      width: 15px;
      button {
        width: 15px;
        &:before {
          width: 15px;
          opacity: 1;
          color: $color_dark_one;
          font-size: 25px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.featured_case_results_block_slide {
  text-align: center;
  padding: 55px 20px;
  @include mq(small_tablet) {
    padding: 83px 20px 67px;
  }
  @include mq(small_laptop) {
    padding: 83px 20px 97px;
  }
  @include mq(large_laptop) {
    padding: 83px 20px 67px;
  }
  @include mq(small_monitor) {
    padding: 83px 20px 95px;
  }
  span {
    display: block;
    &.featured_case_results_block_slide_title {
      @include type(
        (
          size: 40px,
          height: 40px,
          family: $primaryfont,
          color: $color_light_one,
          weight: 700,
          transform: uppercase,
        )
      );
      &:after {
        background: $color_bright_two;
        margin: 35px auto 29px;
        @include box(176px, 2px);
        @include contentdisplay(block);
      }
    }
    &.featured_case_results_block_slide_descrip {
      margin-top: 30px;
      max-width: 400px;
      @include margin_lr;
      @include type(
        (
          size: 17px,
          height: 25px,
          family: $primaryfont,
          color: $color_light_one,
        )
      );
      @include mq(small_tablet) {
        max-width: 310px;
      }
      @include mq(small_laptop) {
        max-width: 385px;
      }
    }
  }
}

.featured_case_results_block_arrow {
  background: $color_light_rgba_three;
  transition: all 200ms ease-in-out;
  margin-top: 13px;
  flex-shrink: 0;
  border-radius: 50%;
  display: none !important;
  cursor: pointer;
  position: relative;
  flex-basis: 60px;
  height: 60px;
  z-index: 1;
  @include mq(small_laptop) {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &:before {
    background: $color_dark_one;
    border-radius: 50%;
    @include contentdisplay();
    @include box(44px);
  }
  &:after {
    @include contentdisplay();
    transition: all 200ms ease-in-out;
    @include abs(23px, null, null, 23px);
    @include tri(left, 7px, 8px, $color_light_one);
    @include mq(small_laptop) {
    }
  }
  &:hover {
    &:after {
      @include tri(left, 7px, 8px, $color_bright_two);
    }
  }
}

.featured_case_results_block_arrow_left {
}

.featured_case_results_block_arrow_right {
  &:after {
    transform: rotate(-180deg);
    @include mq(small_laptop) {
      left: 27px;
    }
  }
}
