header {
  @include fixed(0, null, null, 0, 10);
}

#header_inner {
  background: $color_dark_one;
}

#header_left {
  padding: 20px 15px;
  a {
    img {
      @include image();
    }
  }
}

#header_right {
  @include flex();
}

#cta_phone_wrapper {
  text-align: center;
  flex-grow: 1;
  @include flex(center, center, column);
  span {
    display: block;
  }
  span#cta_title {
    @include type(
      (
        size: 12px,
        height: 15px,
        spacing: 1.2px,
        family: $primaryfont,
        color: $color_light_one,
        weight: 700,
        transform: uppercase,
      )
    );
  }
  a#phone {
    @include type(
      (
        size: 25px,
        height: 30px,
        spacing: 2.5px,
        family: $primaryfont,
        color: $color_bright_two,
        weight: 700,
      )
    );
  }
}

#menu_wrapper {
  background: $color_bright_one;
  @include flex(center, center, column);
  @include box(68px);
  span.menu_bars {
    display: block;
    background: $color_light_one;
    margin-bottom: 4px;
    @include box(30px, 3px);
  }
}
