////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////

$primaryfont: "Barlow", sans-serif;

span {
  font-family: $primaryfont;
  font-weight: 400;
}
