span#bio_position {
  display: block;
  margin-top: 20px;
  @include type(
    (
      size: 19px,
      height: 22px,
      spacing: 1.2px,
      family: $primaryfont,
      weight: 700,
      transform: uppercase,
    )
  );
}

.att_image_wrapper {
  margin: 0px auto;
  max-width: 340px;
  img {
    @include image();
  }
}

#page_content {
  .att_image_wrapper {
    @include mq(small_laptop) {
      display: none;
    }
  }
}
