.video_block {
  position: relative;
  margin-bottom: 30px;
  max-width: 739px;
  overflow: hidden;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-bottom: 40px;
  }
  @include mq(small_laptop) {
    max-width: 340px;
    margin: 0 30px 30px 0;
  }
  @include mq(small_monitor) {
    max-width: 388px;
  }
  &.video_shadow {
    border: 13px solid $color_light_one;
    box-shadow: 0px 3px 6px #00000029;
  }
  &.wistia_no_thumbnail {
    max-width: 388px;
    .mywistia_thumbnail {
      position: relative;
      @include box(100%, 300px);
      @include mq(small_laptop) {
        max-width: 100%;
        @include box(340px, 200px);
      }
      @include mq(small_monitor) {
        @include box(388px, 230px);
      }
    }
    .video_overlay {
      z-index: 1;
      pointer-events: none;
    }
  }
  &:hover {
    span.play_button {
      &:after {
        border-left-color: $color_bright_one;
      }
    }
    .video_overlay {
      background: $color_light_rgba_four;
    }
    img {
      transform: scale(1.15);
    }
  }
  .mywistia {
    @include box(100%);
    @include abs(0, null, null, 0, 1);
  }
  .video_overlay {
    z-index: 1;
    pointer-events: none;
    background: transparent;
    transition: all 300ms ease-in-out;
    @include flex(center, center);
    @include box(100%);
    @include abs(0, null, null, 0);
  }
  img {
    transform: scale(1);
    transition: all 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
    @include image();
    width: 100%;
  }
  span.play_button {
    display: block;
    border-radius: 50%;
    background: $color_light_rgba;
    position: relative;
    @include flex(center, center);
    @include box(64px);
    @include mq(small_tablet) {
      @include box(106px);
    }
    @include mq(small_laptop) {
      @include box(51px);
    }
    @include mq(small_monitor) {
      @include box(64px);
    }
    &:before {
      background: $color_dark_one;
      border-radius: 50%;
      @include contentdisplay();
      @include box(51px);
      @include mq(small_tablet) {
        @include box(84px);
      }
      @include mq(small_laptop) {
        @include box(42px);
      }
      @include mq(small_monitor) {
        @include box(51px);
      }
    }
    &:after {
      transition: all 200ms ease-in-out;
      @include contentdisplay();
      @include abs(23px, null, null, 30px);
      @include tri(right, 8px, 10px, $color_bright_two);
      @include mq(small_tablet) {
        @include abs(38px, null, null, 46px);
        @include tri(right, 14px, 17px, $color_bright_two);
      }
      @include mq(small_laptop) {
        @include abs(18px, null, null, 23px);
        @include tri(right, 8px, 10px, $color_bright_two);
      }
      @include mq(small_monitor) {
        @include abs(23px, null, null, 29px);
        @include tri(right, 10px, 10px, $color_bright_two);
      }
    }
  }
}
