////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color_dark_one: #131827;
$color_dark_two: #222b46;
$color_dark_three: #131827;

$color_bright_one: #2360eb;
$color_bright_two: #d62625;
$color_bright_three: #e34a1d;
$color_bright_four: #427cff;

$color_light_one: #fff;
$color_light_two: #ebebeb;
$color_light_three: #99afc6;
$color_light_four: #747886;

$color_light_rgba: rgba(255, 255, 255, 0.5);

$color_grad_one: linear-gradient(to bottom, #e34a1d 0%, #d62625 100%);
$color_grad_two: linear-gradient(to bottom, #e34a1d 0%, #a21312 100%);
