////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color_dark_one: #131827;
$color_dark_two: #222b46;
$color_dark_three: #656977;
$color_dark_four: #12283e;

$color_bright_one: #2360eb;
$color_bright_two: #d62625;
$color_bright_three: #e34a1d;
$color_bright_four: #427cff;

// thats alot of greys brooo wtf

$color_light_one: #fff;
$color_light_two: #ebebeb;
$color_light_three: #99afc6;
$color_light_four: #747886;
$color_light_five: #677e95;
$color_light_six: #dde4f1;
$color_light_seven: #d6d6d6;
$color_light_eight: #8d8d8d;
$color_light_nine: #a2a2a2;
$color_light_ten: #f5f5f5;
$color_light_eleven: #babdc9;
$color_light_twelve: #959595;
$color_light_thirteen: #dbdbdb;
$color_light_fourteen: #747886;
$color_light_fifteen: #92a0af;
$color_light_sixteen: #cfdbe7;
$color_light_seventeen: #f8f8f8;
$color_light_eighteen: #dddddd;

$color_light_rgba: rgba(255, 255, 255, 0.5);
$color_light_rgba_two: rgba(255, 255, 255, 0.25);
$color_light_rgba_three: rgba(19, 24, 39, 0.18);
$color_light_rgba_four: rgba(19, 24, 39, 0.65);

$color_grad_one: linear-gradient(to bottom, #e34a1d 0%, #d62625 100%);
$color_grad_two: linear-gradient(to bottom, #e34a1d 0%, #a21312 100%);
