.contact_page_wrapper {
}

.contact_col {
  text-align: center;
  &:last-of-type {
    margin-top: 50px;
  }
  span {
    display: block;
  }
  span.contact_title {
    @include type(
      (
        size: 16px,
        height: 19px,
        spacing: 1.2px,
        color: $color_bright_two,
        family: $primaryfont,
        weight: 700,
        transform: uppercase,
      )
    );
    &:after {
      background: $color_dark_one;
      margin-top: 15px;
      margin-bottom: 15px;
      @include margin_lr;
      @include box(67px, 2px);
      @include contentdisplay();
    }
  }
  span.contact_subtitle {
    @include type(
      (
        size: 18px,
        height: 20px,
        weight: 700,
        family: $primaryfont,
      )
    );
  }
  .contact_content {
    margin-bottom: 20px;
    text-decoration: none;
    @include type(
      (
        size: 20px,
        height: 24px,
        color: $color_dark_one,
        family: $primaryfont,
      )
    );
  }
  a.get_directions {
    margin-top: 15px;
    border: 2px solid $color_bright_two;
    color: $color_bright_two;
    &:hover {
      border: 2px solid $color_bright_one;
      color: $color_bright_one;
    }
  }
}
