.video_module {
  position: relative;
  margin-bottom: 30px;
  max-width: 739px;
  @include margin_lr;
  @include mq(small_tablet) {
    margin-bottom: 40px;
  }
  &.video_shadow {
    border: 13px solid $color_light_one;
    box-shadow: 0px 3px 6px #00000029;
  }
  &:hover {
    span.play_button {
      &:after {
        border-left-color: $color_bright_one;
      }
    }
  }
  #video_overlay {
    @include flex(center, center);
    @include box(100%);
    @include abs(0, null, null, 0);
  }
  img {
    @include image();
  }
}

span.play_button {
  display: block;
  border-radius: 50%;
  background: $color_light_rgba;
  position: relative;
  @include flex(center, center);
  @include box(88px);
  @include mq(small_tablet) {
    @include box(106px);
  }
  @include mq(small_monitor) {
    @include box(122px);
  }
  &:before {
    background: $color_dark_one;
    border-radius: 50%;
    @include box(70px);
    @include contentdisplay();
    @include mq(small_tablet) {
      @include box(84px);
    }
    @include mq(small_monitor) {
      @include box(97px);
    }
  }
  &:after {
    @include abs(32px, null, null, 40px);
    @include contentdisplay();
    transition: all 200ms ease-in-out;
    @include tri(right, 11px, 14px, $color_bright_two);
    @include mq(small_tablet) {
      @include abs(38px, null, null, 46px);
      @include tri(right, 14px, 17px, $color_bright_two);
    }
    @include mq(small_monitor) {
      @include abs(43px, null, null, 54px);
      @include tri(right, 16px, 19px, $color_bright_two);
    }
  }
  &:hover {
    &:after {
      border-left-color: $color_bright_one;
    }
  }
}

#page_video_module {
  &.video_module {
    @include mq(small_laptop) {
      max-width: 340px;
      margin: 0 30px 30px 0;
      float: left;
    }
    @include mq(small_monitor) {
      max-width: 388px;
    }
  }
  span.play_button {
    @include box(64px);
    @include mq(small_tablet) {
      @include box(106px);
    }
    @include mq(small_laptop) {
      @include box(64px);
    }
    &:before {
      @include box(51px);
      @include mq(small_tablet) {
        @include box(84px);
      }
      @include mq(small_laptop) {
        @include box(51px);
      }
    }
    &:after {
      @include abs(23px, null, null, 30px);
      @include tri(right, 8px, 10px, $color_bright_two);
      @include mq(small_tablet) {
        @include abs(38px, null, null, 46px);
        @include tri(right, 14px, 17px, $color_bright_two);
      }
      @include mq(small_laptop) {
        @include abs(23px, null, null, 30px);
        @include tri(right, 8px, 10px, $color_bright_two);
      }
    }
  }
}
