.button {
  text-decoration: none;
  position: relative;
  width: 100%;
  display: inline-block;
  z-index: 1;
  &:hover {
    &:after {
      opacity: 1;
    }
  }
  &:before,
  &:after {
    border-radius: 50px;
    z-index: -1;
    @include contentdisplay();
    @include box(100%);
    @include abs(0, null, null, 0);
  }
  &:before {
    background: $color_grad_one;
  }
  &:after {
    background: $color_grad_two;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  span {
    display: block;
    z-index: 1;
    text-align: center;
    padding:20px 15px;
    @include type (
      (
        size: 18px,
        spacing: 0,
        family: $primaryfont,
        color: $color_light_one,
        weight: 700
      )
    );
    @include mq(small_tablet) {
      padding: 24px 34px;
      @include quick_type(22px,null,null);
    }
  }
}

