#section_one {
  margin-top: 142px;
  position: relative;
}

#sec_one_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 37px 20px 52px;
}

#sec_one_top {
  max-width: 327px;
  @include margin_lr;
}

span#sec_one_title {
  display: block;
  @include type(
    (
      size: 33px,
      height: 40px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
    )
  );
  &:after {
    margin: 33px 0 12px;
    background: $color_bright_two;
    @include box(100%, 1px);
    @include contentdisplay();
  }
}

#sec_one_content {
  padding: 0 0px 17px;
  @include type(
    (
      size: 16px,
      height: 25px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_one,
    )
  );
  p {
    margin-bottom: 15px;
  }
}

a.free_consult_button {
  max-width:287px;
  @include margin_lr;
}

#sec_one_bottom {
  margin-top:28px;
}

span#sec_one_logo_title {
  display: inline-block;
  background:$color_bright_one;
  padding:1px 20px;
  @include type (
    (
      size: 13px,
      height: 25px,
      spacing: 2.6px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: uppercase
    )
  );
}

#sec_one_slider {
  margin-top:35px;
}

.sec_one_slide {
  .sec_one_slide_inner {
    height:100%;
    @include flex(center,center);
    img {
      @include image();
      margin:auto;
      height:43px;
    }
  }
}

img#hero {
  object-fit: cover;
  @include abs(0, null, null, 0);
  @include box(100%);
}
