#section_one {
  margin-top: 142px;
  position: relative;
  @include mq(small_tablet) {
    margin-top: 122px;
  }
}

#sec_one_inner {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 37px 20px 52px;
  @include mq(small_tablet) {
    padding: 54px 20px 70px;
  }
  @include mq(small_laptop) {
    text-align: left;
    padding: 54px 20px 156px 75px;
  }
}

#sec_one_top {
  max-width: 290px;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width:685px;
  }
  @include mq(small_laptop) {
    margin:0;
    max-width:592px;
  }
}

span#sec_one_title {
  display: block;
  @include type(
    (
      size: 33px,
      height: 40px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
    )
  );
  @include mq(small_tablet) {
    max-width:593px;
    @include margin_lr;
    @include quick_type(56px,60px,null);
  }
  @include mq(small_laptop) {
    max-width:100%;
  }
  &:after {
    margin: 33px 0 12px;
    background: $color_bright_two;
    @include box(100%, 1px);
    @include contentdisplay();
    @include mq(small_tablet) {
      margin: 33px 0 23px;
    }
  }
}

#sec_one_content {
  padding: 0 0px 17px;
  @include type(
    (
      size: 16px,
      height: 25px,
      spacing: 0,
      family: $primaryfont,
      color: $color_light_one,
    )
  );
  @include mq(small_tablet) {
    max-width:547px;
    @include margin_lr;
    @include quick_type(18px,25px,null);
  }
  @include mq(small_laptop) {
    max-width:100%;
    padding: 0 0px 26px;
  }
  p {
    margin-bottom: 15px;
  }
}

a.free_consult_button {
  max-width:287px;
  display: inline-block;
  @include margin_lr;
  @include mq(small_tablet) {
    max-width:100%;
    width:auto;
  }
}

#sec_one_bottom {
  margin-top:28px;
  @include mq(small_tablet) {
    max-width:730px;
    margin-top: 47px;
    @include margin_lr;
    @include flex(null, center);
  }
  @include mq(small_laptop) {
    display:block;
    width:530px;
    @include abs(null,0,50px,null);
  }
}

span#sec_one_logo_title {
  display: inline-block;
  background:$color_bright_one;
  padding:1px 20px;
  @include type (
    (
      size: 13px,
      height: 25px,
      spacing: 2.6px,
      family: $primaryfont,
      color: $color_light_one,
      weight: 700,
      transform: uppercase
    )
  );
  @include mq(small_tablet) {
    width:150px;
    flex-shrink:0;
  }
  @include mq(small_laptop) {
    width:100%;
   position: relative;
   right:-35px;

  }
}

#sec_one_slider {
  margin:35px auto 0;
  max-width:475px;
  @include mq(small_tablet) {
    max-width:100%;
    margin:0;
    width:calc(100% - 150px);
  }
  @include mq(small_laptop) {
    width:100%;
    margin:40px 0 0 0;
  }
}

.sec_one_slide {
  .sec_one_slide_inner {
    height:100%;
    @include flex(center,center);
    img {
      @include image();
      margin:auto;
      height:43px;
      @include mq(small_tablet) {
        height: 52px;
      }
    }
  }
}

img#hero {
  object-fit: cover;
  @include abs(0, null, null, 0);
  @include box(100%);
}
